vti_encoding:SR|utf8-nl
vti_author:SR|Stanford\\S
vti_modifiedby:SR|LAPTOP\\B
vti_timelastmodified:TR|16 Jan 2016 23:29:06 -0000
vti_timecreated:TR|16 Jan 2016 23:29:05 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|_themes/copy-of-waves/theme.css
vti_cacheddtm:TX|16 Jan 2016 23:29:06 -0000
vti_filesize:IR|46714
vti_cachedlinkinfo:VX|S|none S|none S|none S|none S|blank.gif S|wavglobl.gif S|dot.gif S|toolgrad.gif S|wavtile.gif S|wavbul2d.gif S|theme.css S|toolgrad.gif
vti_cachedsvcrellinks:VX|NSUS|_themes/copy-of-waves/none NSUS|_themes/copy-of-waves/none NSUS|_themes/copy-of-waves/none NSUS|_themes/copy-of-waves/none NSUS|_themes/copy-of-waves/blank.gif FSUS|_themes/copy-of-waves/wavglobl.gif NSUS|_themes/copy-of-waves/dot.gif NSUS|_themes/copy-of-waves/toolgrad.gif FSUS|_themes/copy-of-waves/wavtile.gif FSUS|_themes/copy-of-waves/wavbul2d.gif FSUS|_themes/copy-of-waves/theme.css NSUS|_themes/copy-of-waves/toolgrad.gif
