.mstheme
{
	separator-image: url(ruleani.gif);
	list-image-1: url(wavbul1a.gif);
	list-image-2: url(wavbul2a.gif);
	list-image-3: url(wavbul3a.gif);
	nav-banner-image: url(wavbanna.gif);
	navbutton-horiz-normal: url(wavnavha.gif);
	navbutton-horiz-hovered: url(wavnavhh.gif);
	navbutton-horiz-pushed: url(wavnavhp.gif);
	navbutton-vert-normal: url(wavnavva.gif);
	navbutton-vert-hovered: url(wavnavvh.gif);
	navbutton-vert-pushed: url(wavnavvp.gif);
	navbutton-home-normal: url(wavhomea.gif);
	navbutton-home-hovered: url(wavhomeh.gif);
	navbutton-home-pushed: url(wavhomea.gif);
	navbutton-next-normal: url(wavnexta.gif);
	navbutton-next-hovered: url(wavnexth.gif);
	navbutton-next-pushed: url(wavnexta.gif);
	navbutton-prev-normal: url(wavpreva.gif);
	navbutton-prev-hovered: url(wavprevh.gif);
	navbutton-prev-pushed: url(wavpreva.gif);
	navbutton-up-normal: url(wavupa.gif);
	navbutton-up-hovered: url(wavuph.gif);
	navbutton-up-pushed: url(wavupa.gif);
}
.mstheme-bannertxt
{
	font-family: Verdana,Arial,Helvetica;
	color: rgb(255, 255, 255);
	font-size: 5;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
}
.mstheme-vert-navtxt
{
	font-family: arial,helvetica;
	color: rgb(255, 255, 255);
	font-size: 3;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(wavbul1a.gif);
}
ul ul
{
	list-style-image: url(wavbul2a.gif);
}
ul ul ul
{
	list-style-image: url(wavbul3a.gif);
}
